body {
    font-family: "Inter", sans-serif;
    color: #f3f0f0;
    margin: 30px;
    background: url("img.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* --- Kopfbereich --- */
.Einführung {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.info h1 {
    font-size: 34px;
    margin: 0;
}

.info h3 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 6px;
    color: #7a7979;
}

/* --- Kontaktlinks --- */
.links {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.links a {
    text-decoration: none;
    color: #b4b4b4;
    font-size: 17px;
    font-weight: 600;
    padding: 10px 16px;
    border: 1.5px solid #ffffff;
    border-radius: 50px;          /* macht sie rund */
    transition: all 0.2s ease;    /* sanfte Hover-Animation */
}

.links a:hover {
    background: #ffffff;
    color: #000000;
}

.layout {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    gap: 25px;

    margin: 0 auto;       /* zentriert alles horizontal */
    padding-right: 2%;
    background: none;     /* keine Hintergrundfläche */
    border: none;
}

.link {
    grid-row: 1 / 3;
    background: rgba(255, 255, 255, 0.54);
    border-radius: 10px;
    padding: 25px;
}

.rechts-oben,
.rechts-unten {
    background: rgba(249, 249, 249, 0.47);
    border-radius: 10px;
    padding: 25px;
    transition: transform 0.2s ease;
}

.linie {
    height: 6px;
    width: 100%;
    border-radius: 4px;
    background-color: #00394f;
    margin: 20px 0;
}

.karriere {

    padding: 29px;
    border-radius: 10px;
    font-family: "Inter", sans-serif;
}

.karriere h3 {
    font-size: 14px;
    color: #666;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.station {
    border-top: 1px solid #ddd;
    padding: 15px 0;
}

.station:first-child {
    border-top: none;
}

.info h4 {
    margin: 0;
    font-size: 18px;
}

.info br{
    font-size: 10px;
}

.info p {
    margin: 5px 0 10px;
    color: #333;
}

.zeitraum {
    font-size: 14px;
    color: #777;
    display: block;
    margin-top: 5px;
}

ul {
    list-style: none;
    padding-left: 15px;
}

ul li::before {
    content: "• ";
    color: #4491de;
}

.faehigkeiten button{

    flex-wrap: wrap;
    background-color: transparent;
    color: black;
    border-radius: 10px;
    padding: 7px;
}

.projekte {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.projekte a {
    text-decoration: none;
    color: #000;
    background: rgba(249, 249, 249, 0.6);
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: 0.2s ease;
}

.projekte a:hover {
    background: #000;
    color: #fff;
}
